src/AngularClient/node_modules
src/AngularClient/angular2App/app/**/*.js
src/AngularClient/angular2App/app/**/*.js.map
src/AngularClient/AngularClient.csproj.user
src/AngularClient/angular2App/main.js
src/AngularClient/angular2App/main.js.map
src/AngularClient/angular2App/main-aot.js
src/AngularClient/angular2App/polyfills.js
src/AngularClient/angular2App/polyfills.js.map
src/AngularClient/angular2App/vendor.js
src/AngularClient/angular2App/vendor.js.map
src/AngularClient/obj
src/AspNetCoreThingsServer/obj
src/AngularClient/wwwroot
src/AngularClient/aot
src/AngularClient/bin
src/AspNetCoreThingsServer/bin
.vs/AspNetCoreThingsServer/v15/.suo
**/*.*js
**/*.js.map
/.vs/
/obj
